@import url("https://fonts.googleapis.com/css?family=Montserrat");

$darkest-blue: #1a237e;
$darker-blue: #283593;
$dark-blue: #303f9f;
$medium-blue: #3949ab;
$light-blue: #3f51b5;
$lighter-blue: #5c6bc0;
$lightest-blue: #9fa8da;
$white: #ffffff;
$black: #0e1442;
$orange: #ffb300;
$yellow: #fdd835;
$dark-pink: #ad1457;
$light-pink: #d81b60;

@charset "UTF-8";
* {
  outline: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: $white;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}



a {
  text-decoration: none;
  color: $white;
  display: block;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
}

h3 {
  color: $orange;
  margin: 10px 0;
  text-transform: lowercase;
  font-size: 1.25em;
}

.resume {
  width: 960px;
  background: $darkest-blue;
  color: $white;
  margin: 20px auto;
  box-shadow: 10px 10px $black;
  position: relative;
  display: flex;
}
.resume .base,
.resume .func {
  box-sizing: border-box;
  float: left;
}
.resume .base > div,
.resume .func > div {
  padding-bottom: 10px;
}
.resume .base > div:last-of-type{
  padding-bottom: 0;
  margin-top: 5px;
  text-align: center;
}

.resume .func > div:last-of-type {
  padding-bottom: 0;
  margin-top: 5px;
  /*text-align: center;*/
}
.resume .base {
  width: 30%;
  padding: 30px 15px;
  background: $darker-blue;
  color: $white;
}
.react-audio-player{
  height: 20px;
} 
.resume .base .profile {
  background: $orange;
  padding: 30px 15px 40px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: 0;
}
.resume .base .profile::after {
  content: "";
  position: absolute;
  background: $dark-blue;
  width: 99.6%;
  height: 30px;
  bottom: -15px;
  left: 0;
  transform: skewY(-5deg);
  z-index: -1;
}
.resume .base .profile .photo img {
  width: 100%;
  border-radius: 50%;
}
.resume .base .profile .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume .base .profile .fa-rocket {
  font-size: 100px;
  text-align: center;
  margin: auto;
  color: $darker-blue;
}
.resume .base .profile .info {
  text-align: center;
  color: $white;
}
.resume .base .profile .info .name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.75em;
  text-transform: lowercase;
  color: $darkest-blue;
}
.resume .base .profile .info .job {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  text-transform: lowercase;
  color: $darker-blue;
}
.resume .base .contact div {
  line-height: 24px;
}
.resume .base .contact div a:hover {
  color: $yellow;
}
.resume .base .contact div a:hover span::after {
  width: 100%;
}
.resume .base .contact div:hover i {
  color: $yellow;
}
.resume .base .contact div i {
  color: $orange;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}
.resume .base .contact div span {
  position: relative;
}
.resume .base .contact div span::after {
  content: "";
  position: absolute;
  background: $yellow;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.resume .base .follow .box {
  text-align: center;
  vertical-align: middle;
}
.resume .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}
.resume .base .follow .box a:hover i {
  background: $yellow;
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
.resume .base .follow .box a:hover i svg path::before {
  transform: rotate(-45deg) scale(1.5);
}
.resume .base .follow .box i {
  display: inline-block;
  font-size: 30px;
  background: $orange;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: $darker-blue;
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}
.resume .base .follow .box i svg path::before {
  transition-duration: 0.3s;
}
.resume .base .follow .box i svg path.fa::before {
  display: block;
}
.resume .func {
  width: 100%;
  padding: 30px;
}
.resume .func:hover > div {
  transition-duration: 0.5s;
}
.resume .func:hover > div:hover h3 i svg {
  transform: scale(1.25);
}

.resume .func:hover > div:not(:hover) {
  opacity: 0.5;
}
.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}
.resume .func {
    width: 96%;
    padding: 30px;
}
.resume .func h3 i svg {
  color: $darker-blue;
  background: $orange;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  padding: 12px;
  transition-duration: 0.3s;
  margin-left: 9px;
}
.playpauseBtn svg{
  margin-top: 3px;
    margin-left: 0px;
}

.resume .func .work,
.resume .func .edu {
  float: left;
}
.resume .func .work small,
.resume .func .edu small {
  display: block;
  opacity: 0.7;
}
.resume .func .work ul li ,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
hr{
  marginTop: $orange
}


.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  animation: circle 1.5s infinite;
}
.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: $yellow;
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px $yellow;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}
.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}
.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}
.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
.resume .base .contact div i svg{
  width: 20px;
}
.resume .func .work ul li::before,
.resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid $white;
  background: $orange;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}
.resume .func .work ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: $white;
  left: 5px;
  top: 2px;
}
.resume .func .work ul li span,
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}
.resume .func .work {
  width: 48%;
  background: $darker-blue;
  padding: 15px;
  margin: 0 4% 15px 0;
  max-height: 310px;
  min-height: 310px;        
}
.resume .func .edu {
  width: 48%;
  background: $darker-blue;
  padding: 15px;
  max-height: 310px;
  min-height: 310px;        
}
.resume .func .skills-prog {
  clear: both;
  background: $darker-blue;
  padding: 15px;
  /*max-height: 300px;
  min-height: 300px;
  font-size:16px ;*/
  z-index: 0;
}
.resume .func .description_hover {
  clear: both;
  background: $darker-blue;
  padding: 15px;
  /*max-height: 300px;
  min-height: 300px;*/
  font-size:16px ;
  margin-top: 15px;

}
.resume .func .skills-prog ul {
  margin-left: 15px;
}
.resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  z-index: 0;
}
.resume .func .skills-prog ul li:hover {
  color: $yellow;
}
.resume .func .skills-prog ul li:hover .wrapper{
  background: $yellow;
  box-shadow: 0 0 0 1px $yellow;
  border-radius: 50px;
  /*padding-left: 10px;*/
  /*margin-left: 20px;*/

}
.resume .func .skills-prog ul li span {
  display: block;
  width: 140px;
}
.resume .func .skills-prog ul li .skills-bar {
  background: $white;
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}
.resume .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: $orange;
  box-shadow: 0 0 0 $orange;
  border-radius: 5px;
}
.resume .func .skills-soft {
  clear: both;
  background: $darker-blue;
  padding: 15px;
  margin: 15px 0 0;
}
.resume .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.resume .func .skills-soft ul li {
  position: relative;
}

.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: $yellow;
  stroke-width: 4px;
}
.resume .func .skills-soft ul li:hover span,
.resume .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}
.resume .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}
.resume .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: $white;
}
.resume .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: $orange;
  stroke-linecap: round;
}
.resume .func .skills-soft ul li span,
.resume .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}
.resume .func .skills-soft ul li span {
  top: 40%;
}
.resume .func .interests {
  background: $darker-blue;
  margin: 15px 0 0;
  padding: 15px;
}
.resume .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.resume .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.resume .func .interests-items div:hover i {
  transform: scale(1.2);
}
.resume .func .interests-items div:hover span {
  color: $yellow;
  transition-duration: 0.3s;
}
.resume .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: $orange;
  transition-duration: 0.3s;
}
.resume .func .interests-items div span {
  display: block;
}



.wrapper {
  width: 100%;
  /*padding-left: 15px;*/
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.arrow_button {
    
}

.inner_button{
   
    color: rgb(40, 53, 147);
    background: rgb(255, 179, 0);
    width: 25px;
    height: 24px;
    border-radius: 50%;
    border: none;
  }
.container{
  background: #ffffff;
  border-radius: 50px;
  

}

.change_tempelate_color{
    background-color: $orange;
    color: $darker-blue;
    font-size: 15px;
    border-radius: 17px;
    border: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  
}

/*.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}*/

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.college_show .school_show .graduation_show{

}

.modal-content {
    width: 220px;    /* Occupy the 90% of the screen width */
    max-width: 300px;
} 

._2I1sI {
    color: $yellow;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

._3bARu {
  margin-top: 200px;
  color: $yellow;
  background: $darker-blue;
  cursor: default;
  font-family: "Montserrat", sans-serif;
}

.playpauseBtn{
    float: right;
    border: none;
    width: 25px;
    height: 24px;
    border-radius: 50%;
    color: rgb(253, 216, 53);
    background: none;
    border: 2px solid rgb(253, 216, 53);
    margin-top: 4px;
    
}




@media screen and (max-width: 600px) {
  body {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: $white;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  }

.resume {
    width: 770px;
    height: 1550px;
    background: #1a237e;
    color: #ffffff;
    margin: 20px auto;
    box-shadow: 10px 10px #0e1442;
    position: relative;
    display: flex;
}
.resume .function{
  padding: 30px;
    width: 71%;
}
.resume .base .profile {
    background: #ffb300;
    padding: 37px 13px 74px 10px;
    margin: -30px -15px 76px -15px;
    position: relative;
    z-index: 0;
}
.about{
  margin-bottom: 15px;
}
.contact{
    margin-bottom: 30px;
}
.follow{
  margin-bottom: 30px;
}
.resume .func .work {
    width: 48%;
    background: #283593;
    padding: 15px;
    margin: 0 4% 15px 0;
    /* max-height: 379px; */
    /* min-height: 310px; */
    min-height: 370px;
}
.resume .func .edu{
    width: 48%;
    background: #283593;
    padding: 15px;
    margin: 0 0% 15px 0;
    /* max-height: 379px; */
    /* min-height: 310px; */
    min-height: 370px;
}
}

.show-modal-button {
  padding: 16px;
  background-color: #6929c4;
  color: #fff;
  font-size: 1em;
  border: none;
  margin-top: 16px;
  align-self: center;
  cursor: pointer;
  position: fixed;
  top: calc(50% - 8px);
  left: calc(50% - 100px);
  width: 200px;
}

.modal {
  width: 400px;
  height: 250px;
  color: #fff;
  background: #6929c4;
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  z-index: 90;
  top: calc(50% - 145px);
  left: calc(50% - 220px);
  display: flex;
  flex-direction: column;
}

.modal-close-button {
  padding: 16px;
  background-color: #fff;
  color: #6929c4;
  font-size: 1em;
  border: none;
  margin-top: 16px;
  width: 90%;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e8daff;
}

